.lectors {
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 7px;
    gap: 7px;
    margin-right: 10px;
  }
  &_name {
    width: min-content;
    text-align: center;
  }
  &_title {
    display: flex;
    justify-content: right;
    margin-right: 15px;
  }
  &_wrapp {
    text-align: center;
  }
}
