.column {
  margin: 0.5rem;
  width: calc(100vw - 4rem);

  @media (min-width: 768px) {
    width: calc(100% - 1rem);
  }
}

.todo-list {
  padding-top: 1rem;
  height: 100%;
  border-top: 2px solid #c8c8cd;

  &.-inprogress {
    border-color: #ffc700;
  }
}

.placeholder {
  margin: 0;
  border: 1px dashed #c8c8cd;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #c8c8cd;
}
