.edit-form {
  display: grid;
  grid-template-columns: 0 1rem 1fr 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 0;
  background-color: #ffffff;
}
