.main {
  font-size: 15px;
  background: #cbd6d4;
  padding: 3px 100px;
  min-width: max-content;
  text-align: center;
}

.wrapp {
  background: #f6f6f6;
  margin-top: 7px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
