.customcheckbox {
  appearance: none;
  margin: 0;
}

.checkmark {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  color: #00b8e0;

  &.-high {
    color: #ff6546;
  }

  &.-medium {
    color: #ffc700;
  }
}
