.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.u-container {
  &.-m0 {
    margin: 0;
  }
}

.kanban {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;
  width: 100%;
  padding: 0.5rem;
}
